
.countries {
 stroke: #F7F8F8;
    stroke-width: 0.3px;
    stroke-linecap: round;
}


#infoPanel1 {
    position: absolute;
    top:-15px;
}


#mapcontainer1
{opacity: 0.8;}

.infolabel1 {
    position: absolute;
   
    min-height: 45px;
    width: 300px;
    color: #4d4543;
    font-size:16px;
    background-color: rgba(180,183,175,0.7);

    padding: 5px 10px;
    font-family: Gill Sans MT;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #999;
    line-height: 1.1em;
}