
.countries {
 stroke: white;
    stroke-width: 0.5px;
    stroke-linecap: round;
}


body {
    background-color: black;
    
}
.map {

    margin: 0% 0 0 0%;
}

.chart {
    float: left;
    margin: 0 1% 0 5%;
}


#sun
{ float: right;
    margin: 5% 0% 0 5%;
}

.pageTitle {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 40px;
    color:#FFC42A;
    
    font-family: Segoe Print;
}
.dropdown {
    position: absolute;
    top: 13%;
    right: 10%;
     font-family: Trebuchet MS;
    font-size: 1em;
    padding: -1px;
    border: 1px solid #999;
    
}


.infolabel {
    position: absolute;
    height: 35px;
    min-width: 100px;
    color: #FFC42A;
    background-color: #000;
    border: solid thin #C1C1C4;
    padding: 5px 5px;
    font-family: Trebuchet MS;
    
}

.aaa
{color:#FFC42A;}

.chartLabels {
 
    font-family: Trebuchet MS;
    line-height: 140%;
    margin-left: 1%;
    position: absolute;
    text-align: right;
    font-size:18px;
     color:#FFC42A;
}



.descriptionTitle {
    /*margin-top: 150px;*/
    width: 380px;
    font-family: Trebuchet MS;
    font-size:25px;
    color:#FFC42A;
    position: absolute;
    top:25%;
    right:2%;
}

.description {
    margin-top: 60px;
    font-family: Trebuchet MS;
    word-wrap: break-word;
    font-size:18px;
    color: #eee;
    line-height: 10px;
   
}

.about {
   width: 450px;
   
 
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: normal;
    color: gray;
    margin: 0% 10% 1% 75%
}


.aboutText {
    color: gray;
    font-size: 16px;
}

.sources {
    font-size: 14px;
    color: gray;
}